h2 {
    font-size: 26px;
    text-align: center;
    margin: 40px 20px;
}

ul li {
    display: flex;
    margin: 20px 0;
    font-size: 24px;
    position: relative;
}

.classification, .imc {
    font-size: 26px;
    color: var(--purple-primary);
    font-weight: bold;
    position: absolute;
    right: 0;
}